#hero {
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

#hero h1 {
    font-size: 350%;
    margin: 4% 0% 2% 0%;
}

#hero div {
    /* border: 1px solid black; */
    margin: 2%;
    display: flex;
}

.heroButton {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    border-radius: 1.5rem;
    margin: 0rem 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    white-space: nowrap;
}

.demoButton{
    font-weight: 700;
    color: var(--primary-color);
    background-color: white;
}